.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.Poppins {
  font-family: "Poppins", sans-serif;
}

.Raleway {
  font-family: "Raleway", sans-serif;
}

.Oswald {
  font-family: "Oswald", sans-serif;
}

.Lato {
  font-family: "Lato", sans-serif;
}

.Open-sans {
  font-family: "Open Sans", sans-serif;
}

body .paper-texture {
  background-image: url("../src/assets/image/watercolor-paper-texture.jpg");
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  padding: 10px 15px;
}

.navbar .line-horizontal {
  width: 3px;
  height: 35px;
  background-color: #306030;
  margin: 0 10px;
}

.navbar .d-flex.gap-2 {
  padding: 10px;
  margin: -5px 0 0 0;
}

.navbar .d-flex.gap-2 a {
  color: rgb(51, 51, 51);
}

.about {
  padding: 90px 0;
  position: relative;
}

.about .row {
  gap: 200px;
}

.about .row .halakah-about .btn {
  background-color: #151515;
  color: #ffffff;
  padding: 10px 15px;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 4px 0 0 #545454;
}

.about .row .halakah-about .btn:hover {
  color: #151515;
  background-color: #ffffff;
  font-weight: 700;
  border: 1px solid #545454;
  box-shadow: 2px 2px 0 0 #545454;
}

.about .row .halakah-about {
  gap: 70px;
  flex-wrap: wrap;
}

.about .row .halakah-about .text {
  width: calc(50% - 35px);
}

.about .row .halakah-about .text h1 span {
  position: relative;
}

.about .row .halakah-about .text h1 span::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 3px;
  background-color: #545454;
  bottom: -5px;
  left: 0;
}

.about .row .halakah-about .image {
  width: calc(50% - 35px);
  position: relative;
}

.about .row .halakah-about .image::before {
  content: "";
  position: absolute;
  background-image: url("../src/assets/image/Group2.png");
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

.about .row .halakah-about .image::after {
  content: "";
  position: absolute;
  background-image: url("../src/assets/image/Group1.png");
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  bottom: -50px;
}

.about .row .halakah-about .image img {
  width: 60%;
}

.about .row .publisher-about .btn {
  border: 2px solid #151515;
  background-color: #ffffff;
  padding: 10px 15px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.about .row .publisher-about .btn:hover {
  border: 0px solid #545454;
  box-shadow: -3px 5px 0 0 #545454;
  background-color: #151515;
  color: #ffffff;
}

.about .row .publisher-about {
  gap: 70px;
  flex-wrap: wrap;
  position: relative;
}

.about .row .publisher-about .text {
  width: calc(50% - 35px);
}

.about .row .publisher-about .image {
  width: calc(50% - 35px);
}

.about .row .publisher-about .image img {
  width: 100%;
}

/* service */

.service {
  padding: 50px 0;
  margin: 140px 0 40px 0;
  position: relative;
}

.service::after {
  content: "";
  position: absolute;
  background-image: url("/src/assets/image/bg-service.jpg");
  width: 100%;
  height: 450px;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: brightness(50%);
}

.service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(
    rgb(0, 0, 0, 0.5) 0%,
    rgba(48, 96, 48, 0) 100%
  );
}

.service h2 {
  font-size: 38px;
  position: relative;
  display: block;
  width: fit-content;
  margin: 0 auto;
  color: #ffffff;
  z-index: 1;
}

.service h2::before {
  content: " ";
  position: absolute;
  width: 58%;
  margin: 0 auto;
  height: 2px;
  background-color: #ffffff;
  top: -10px;
  left: 0;
}

.service h2::after {
  content: " ";
  position: absolute;
  width: 58%;
  margin: 0 auto;
  height: 2px;
  background-color: #ffffff;
  bottom: -10px;
  right: 0;
}

.service .row {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  position: relative;
  padding: 0 0 70px 0;
}

.service .row::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 3px;
  background-color: #545454;
  bottom: 0;
}

.service .row .service-card {
  width: calc(33% - 20px);
  padding: 35px 25px 15px 25px;
  box-shadow: 0 0 3px 0 #141212;
  transition: 0.3s;
  background-image: url("../src/assets/image/8.png");
}

.service .row .service-card:hover {
  background-image: url("../src/assets/image/7.png");
  color: #ffffff;
  border-radius: 5px;
  margin: -5px 0 0 0;
  box-shadow: 0 0 3px 0 #ffffff;
}

.service .row .service-card svg {
  font-size: 45px;
}

.service .row .service-card h4 {
  font-size: 24px;
}

.service .row .service-card p {
  font-size: 13px;
  opacity: 0.8;
}

.book {
  padding: 50px 0;
  position: relative;
}

.book::after {
  content: "";
  position: absolute;
  background-image: url("../src/assets/image/gradien-square-bottom.png");
  width: 250px;
  height: 250px;
  bottom: -10px;
  right: 0;
  background-size: contain;
}

.book .row {
  gap: 30px;
}

.book .row .content-book {
  width: 32%;
  padding: 25px 25px 60px 25px;
  margin: 130px 0 0 0;
  box-shadow: 0 0 1px 1px #545454;
  background-image: url("../src/assets/image/bg-texture-fiber.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

.book .row .content-book .cover {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: #ffffff;
  margin: -130px 0 15px 0;
  box-shadow: 0 0 1px 1px #545454;
}

.book .row .content-book .cover img {
  width: calc(50% - 5px);
  border: 1px solid #989898;
}

.book .row .content-book h6 {
  font-size: 14px;
}

.book .row .content-book h5 {
  /* margin: 30px 0 10px 0; */
  margin: 5px 0 10px 0;
}

.book .row .content-book p {
  opacity: 0.85;
  font-size: 13px;
  margin: 0 0 25px 0;
}

.book .row .content-book b {
  font-size: 18px;
  opacity: 0.9;
}

/* .book .row .content-book.kedua h5{
    margin: 10px 0;
  } */

.book .row .content-book a {
  background-color: #545454;
  color: #ffffff;
  padding: 8px 18px;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  transition: 0.3s;
}

.book .row .content-book a:hover {
  background-color: #ffffff;
  color: #151515;
  font-weight: 600;
  border: 1px solid #151515;
  box-shadow: 0 3px 0 0 #545454;
}

footer {
  background-image: url("../src/assets/image/bg-footer.png");
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 50px 0 0 0;
  color: white;
  position: relative;
  box-shadow: 0 -2px 5px 0 grey;
}

footer .row .col-lg-5 p {
  opacity: 0.6;
  font-size: 11px;
}

footer .row .col-lg-5 img {
  width: 20%;
  margin: 0 0 15px 0;
}

footer .sosmed {
  margin: 120px 0 0 0;
}

footer .text-end.quote {
  transform: translateY(20px);
}

footer .text-end {
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 20px;
}

.modal .modal-header {
  padding: 15px 25px;
}

.modal .modal-body {
  padding: 25px !important;
}

.modal .modal-body p {
  font-size: 13px;
  text-align: justify;
  word-spacing: 2px;
  font-weight: 500;
  opacity: 0.8;
}

.container .breadcrumb li {
  font-weight: 500;
  font-size: 12px;
}

.container .breadcrumb .breadcrumb-item a {
  color: black !important;
}

.majmu .container {
  padding: 35px 0 0 0;
}

.majmu {
  background-color: #faf9f6;
}

.majmu .content {
  padding: 25px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.majmu .content .cover {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.majmu .content .cover img {
  width: 100%;
  box-shadow: 0 0 1px 0 black;
}

.majmu .content .cover button {
  border: none;
  background-color: #141414;
  color: #ffffff;
  padding: 6px 18px;
  width: fit-content;
  margin: 20px auto;
  font-size: 15px;
}

.majmu .content .detail {
  width: 55%;
  position: relative;
}

.majmu .content .detail small {
  font-weight: 700;
  opacity: 0.6;
  font-size: 14px;
}

.majmu .content .detail h2 {
  font-weight: 800;
  color: #545454;
}

.majmu .content .detail .title {
  margin: 25px 0 10px 0;
}

.majmu .content .detail .title h5 {
  font-weight: 600;
  opacity: 0.9;
  margin: 0 0 13px 0;
}

.majmu .content .detail .harga {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.majmu .content .detail .harga h3 {
  opacity: 1;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.majmu .content .detail .harga h5 {
  text-decoration: line-through;
  color: #ba1010;
  opacity: 0.5;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.majmu .content .detail .jenis-buku {
  margin: 30px 0 50px 0;
}

.majmu .content .detail .jenis-buku h6 {
  font-weight: 700;
  color: black;
}

.majmu .content .detail .jenis-buku .button {
  display: flex;
  gap: 15px;
  margin: 15px 0 0 0;
}

.majmu .content .detail .jenis-buku .button button {
  border: 2px solid #545454;
  padding: 5px 14px;
  background-color: transparent;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
  transition: 0.3s;
}

.majmu .content .detail .jenis-buku .button button:hover {
  border: 1px solid #141212;
  color: #ffffff;
  box-shadow: 0 2px 0 0 #151515;
}

.majmu .content .detail .jenis-buku .button button.active {
  border: 1px solid #306030;
  background-color: #306030;
  color: #ffffff;
  box-shadow: 2px 2px 0 0 #141212;
  opacity: 1;
  font-weight: 600;
}

.majmu .content .detail a button {
  border: none;
  background-color: #ffffff;
  border: 1px solid #151515;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  padding: 10px 20px;
  color: #545454;
  box-shadow: 0 3px 0 0 #545454;
  transition: 0.3s ease-in-out;
}

.majmu .content .detail a button:hover {
  background-color: #ffffff;
  background-color: #545454;
  box-shadow: 4px 4px 0 0 #141212;
  color: #ffffff;
  margin: 0 0 0 5px;
}

.majmu .content .detail a button svg {
  margin: -3px 3px 0 0;
}

.majmu .content .detail .deskripsi {
  margin: 50px 0;
}

.majmu .content .detail .deskripsi h6 {
  font-weight: 700;
  color: #151515;
}

.majmu .content .detail .deskripsi p {
  text-align: justify;
  font-size: 14px;
  color: #545454;
}

.majmu .content .detail .deskripsi button {
  border: none;
  background-color: transparent;
  color: #545454;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: -15px;
  text-decoration: underline;
}
.majmu .content .detail .info-footer {
  margin: 80px 0 0 0;
}

.majmu .content .detail .info-footer h6 {
  font-weight: 700;
  color: #151515;
}

.majmu .content .detail .info-footer .flex-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0 0 0;
}

.majmu .content .detail .info-footer .flex-info .text {
  width: calc(50% - 10px);
}

.majmu .content .detail .info-footer .flex-info .text h6 {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}

.majmu .content .detail .info-footer .flex-info .text p {
  font-size: 13px;
  font-weight: 500;
  margin-top: -5px;
}

.landing-offer {
  overflow-x: hidden;
}

.landing-offer .cover {
  background-image: url("/src/assets/image/bg-cover-offer.png");
  height: 100dvh;
  background-size: cover;
}

.landing-offer .cover .dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  opacity: 1;
  z-index: 0;
}

.landing-offer .cover .d-flex {
  position: relative;
  padding-top: 130px;
  justify-content: space-between;
}

.landing-offer .cover .d-flex .left {
  width: calc(50% - 25px);
}

.landing-offer .cover .d-flex .right {
  width: calc(50% - 25px);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.landing-offer .cover .d-flex .left img {
  width: 100%;
}

.landing-offer .cover .d-flex .right .title {
  width: 100%;
}
.landing-offer .cover .d-flex .right .subtitle {
  width: 100%;
  margin: 20px 0;
}

.landing-offer .cover .d-flex .right .badge-text {
  font-size: 32px;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
  padding: 4px 7px 10px 7px;
  border-radius: 10px;
  background-color: #151515;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.landing-offer .synopsis {
  height: 100dvh;
  background-image: url("/src/assets/image/bg-synopsis.webp");
  background-size: cover;
}

.landing-offer .synopsis .container {
  padding-top: 120px;
}

.landing-offer .synopsis .row {
  flex-direction: column;
}

.landing-offer .synopsis .title {
  width: 40%;
  margin: 0 auto 0 auto;
}

.landing-offer .synopsis .kutip-line {
  width: 60%;
  margin: -20px auto 20px auto;
  display: block;
}

.landing-offer .synopsis .desc {
  width: 60%;
  text-align: justify;
  font-size: 19px;
  margin: 0 auto;
}

.landing-offer .detail-cover {
  height: 100dvh;
  background-image: url("/src/assets/image/bg-detailimage.webp");
  background-size: cover;
  padding: 80px 0 80px 0;
}

.landing-offer .detail-cover .container {
  height: 100%;
}

.landing-offer .detail-cover .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.landing-offer .detail-cover .content .element1 {
  position: absolute;
  top: -215px;
  left: -290px;
  width: 170px;
}
.landing-offer .detail-cover .content .element2 {
  position: absolute;
  bottom: -260px;
  left: -310px;
  width: 240px;
}
.landing-offer .detail-cover .content .element3 {
  position: absolute;
  bottom: -240px;
  right: -300px;
  width: 190px;
}

.landing-offer .detail-cover .content img {
  width: 60%;
}

.landing-offer .author {
  height: 100dvh;
  background-image: url("/src/assets/image/bg-author.webp");
  background-size: cover;
  /* background-position: center center; */
  position: relative;
}

.landing-offer .author .container {
  padding-top: 50px;
  height: 100%;
}

.landing-offer .author .row {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
}

.landing-offer .author .left {
  width: 65%;
}

.landing-offer .author .left img {
  width: 80%;
  margin: 0 0 35px 0;
}

.landing-offer .author .left .desc {
  font-size: 23px;
  color: #ffffff;
  text-align: justify;
  width: 90%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.landing-offer .author .right {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}

.landing-offer .author .right img {
  width: 100%;
}

.landing-offer .prapesan {
  height: 100dvh;
  background-image: url("/src/assets/image/bg-prapesan.webp");
  background-size: cover;
  position: relative;
}

.landing-offer .prapesan .container {
  height: 100%;
}

.landing-offer .prapesan .row {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.landing-offer .prapesan .row .left {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin: -60px 0 0 0;
}

.landing-offer .prapesan .row .left h4 {
  width: fit-content;
  font-size: 30px;
  font-weight: bold;
  margin: 0 auto 10px auto;
  background-color: #ffffff;
  color: #151515;
  padding: 10px 15px 7px 15px;
  border-radius: 11px;
}

.landing-offer .prapesan .row .left .title {
  width: 80%;
  margin: 0 auto;
}

.landing-offer .prapesan .row .left .d-flex {
  flex-direction: column;
}
.landing-offer .prapesan .row .left .d-flex .subtitle {
  font-size: 20px;
  margin: 5px auto 0 auto;
  width: fit-content;
  color: #545454;
  background-color: #d9d9d9;
  padding: 0 25px 0 25px;
  border-radius: 3px;
}
.landing-offer .prapesan .row .left .d-flex .date {
  font-size: 20px;
  font-weight: bold;
  margin: 4px auto 0 auto;
  width: fit-content;
  color: #545454;
  background-color: #d9d9d9;
  padding: 0 10px;
  border-radius: 3px;
}

.landing-offer .prapesan .row .right {
  width: 45%;
}

.landing-offer .prapesan .row .right img {
  width: 100%;
}

.landing-offer .offer {
  height: auto;
  background-image: url("/src/assets/image/bg-offer.webp");
  background-size: cover;
  position: relative;
}

.landing-offer .offer .container {
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.landing-offer .offer .row {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.landing-offer .offer .row .left {
  width: 50%;
  position: relative;
}

.landing-offer .offer .row .left .title {
  width: 70%;
}

.landing-offer .offer .row .left .cover-book {
  width: 58%;
  height: auto;
}

.landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 120px;
  left: 180px;
  width: 180px;
}

.landing-offer .offer .row .left .button {
  width: 230px;
  bottom: -50px;
  right: -10px;
  position: absolute;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.6));
}

.landing-offer .offer .row .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .landing-offer .offer .row .right .bundling {
  width: 100px;
  margin: 0 0 5px 0;
}

.landing-offer .offer .row .right .title {
  width: 70%;
  margin: 0 0 10px 0;
} */

/* .landing-offer .offer .row .right .badge-offer {
  width: 70%;
  margin: 0 0 5px 0;
} */

/* .landing-offer .offer .row .right .harga {
  position: absolute;
  top: 155px;
  right: 100px;
  width: 180px;
} */

.landing-offer .offer .row .right .cover-book {
  width: 90%;
  height: auto;
  margin: 0 0 10px auto;
}

/* .landing-offer .offer .row .right p {
  background-color: #151515;
  color: #ffffff;
  font-size: 9px;
  width: fit-content;
  margin: 0 25px 0 auto;
  padding: 2px 7px;
  border-radius: 2px;
} */

@media screen and (max-width: 1200px) {
  .landing-offer .cover .d-flex .right .badge-text {
    font-size: 26px;
  }

  .landing-offer .detail-cover .content img {
  width: 70%;
}
}
@media screen and (max-width: 991px) {
  .navbar .line-horizontal {
    width: 100px;
    height: 2px;
  }

  .service .row .service-card {
    width: calc(50% - 20px);
  }

  .service .row::after {
    content: "";
    position: absolute;
    background-image: url("../src/assets/image/morse-halakah-horizontal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 35px;
    bottom: -30px;
  }

  .book .row .content-book {
    width: 47.5%;
  }

  .majmu .content .cover {
    width: 35%;
    text-align: center;
  }

  .landing-offer .cover {
    height: auto;
  }

  .landing-offer .cover .d-flex {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 70px ;
    padding-bottom: 70px ;
  }

  .landing-offer .cover .d-flex .left {
    width: 60%;
  }

  .landing-offer .cover .d-flex .right {
    width: 60%;
    padding-top: 30px;
  }

  .landing-offer .synopsis .title {
    width: 50%;
  }

  .landing-offer .synopsis .kutip-line {
    width: 80%;
  }

  .landing-offer .synopsis .desc {
    width: 80%;
  }

    .landing-offer .detail-cover .content img {
  width: 85%;
}

.landing-offer .author .left .desc {
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
  width: 90%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


.landing-offer .prapesan {
  height: auto;
  padding: 100px 0;
}

.landing-offer .prapesan .row {
  flex-direction: column;
  gap: 50px;
}

.landing-offer .prapesan .row .left {
  width: 75%;
  margin: 0;
}

.landing-offer .prapesan .row .right {
  width: 75%;
}

.landing-offer .offer {
  padding: 80px 0;
}

.landing-offer .offer .row {
  flex-direction: column;
  gap: 70px;
}

.landing-offer .offer .row .left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-offer .offer .row .left .title {
  width: 75%;
}

.landing-offer .offer .row .left .cover-book {
  width: 70%;
}

.landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 200px;
  left: 290px;
  width: 180px;
}

.landing-offer .offer .row .left .button{
  position: relative;
  bottom: 0;
  right: 0;
}

.landing-offer .offer .row .right {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media screen and (max-width: 768px) {
  .about .row .halakah-about {
    flex-direction: column;
  }

  .about .row .halakah-about .text {
    width: 100%;
  }

  .about .row .halakah-about .image {
    width: 100%;
    text-align: center;
  }

  .about .row .halakah-about .image img {
    width: 80%;
  }

  .about .row .publisher-about {
    flex-direction: column-reverse;
    gap: 50px !important;
  }

  .about .row .publisher-about .text {
    width: 100%;
  }

  .about .row .publisher-about .image {
    width: 100%;
    text-align: center;
  }
  .about .row .publisher-about .image img {
    width: 80%;
  }

  .service .row .service-card {
    width: 75%;
  }

  footer .sosmed {
    margin: 0 0 0 0;
  }

  .book .row .content-book {
    width: 75%;
  }

  .majmu .container {
    padding: 15px 0 0 0;
  }

  .majmu {
    padding: 20px;
  }

  .majmu .content {
    flex-direction: column;
    gap: 50px;
    margin: 30px 0 50px 0;
  }

  .majmu .content .cover {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .majmu .content .cover img {
    width: 60%;
  }

  .majmu .content .detail {
    width: 100%;
    position: relative;
  }

    .landing-offer .cover .d-flex .left {
    width: 65%;
  }

  .landing-offer .cover .d-flex .right {
    width: 75%;
  }

    .landing-offer .cover .d-flex .right .badge-text {
    font-size: 22px;
  }

    .landing-offer .synopsis .title {
    width: 60%;
  }

  .landing-offer .synopsis .kutip-line {
    width: 90%;
  }

  .landing-offer .synopsis .desc {
    width: 90%;
  }
  .landing-offer .detail-cover .content img {
  width: 100%;
}

.landing-offer .detail-cover .content .element1 {
  position: absolute;
  top: -190px;
  left: -220px;
  width: 150px;
}
.landing-offer .detail-cover .content .element2 {
  position: absolute;
  bottom: -210px;
  left: -240px;
  width: 200px;
}
.landing-offer .detail-cover .content .element3 {
  position: absolute;
  bottom: -200px;
  right: -220px;
  width: 160px;
}

.landing-offer .author {
  height: auto;
}

.landing-offer .author .container{
  width: 100%;
}


.landing-offer .author .row {
  flex-direction: column;
}

.landing-offer .author .left {
  width: 100%;
  text-align: center;
}

.landing-offer .author .left img {
  width: 90%;
  margin: 0 0 35px 0;
  filter: drop-shadow(1px 1px 5px #151515);
}

.landing-offer .author .left .desc {
  font-size: 20px;
}

.landing-offer .author .right {
  width: 100%;
  position: relative;
  text-align: end;
}


.landing-offer .author .right img {
  width: 70%;
  margin: 0 0 0 auto;
}

.landing-offer .prapesan .row .left {
  width: 80%;
  margin: 0;
}

.landing-offer .prapesan .row .right {
  width: 80%;
}

.landing-offer .offer .row .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-offer .offer .row .right .cover-book {
  width: 100%;
  height: auto;
  margin: 0 0 10px auto;
}

.landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 180px;
  left: 270px;
  width: 180px;
}

.landing-offer .offer .row .left {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}
@media screen and (max-width: 576px) {
  .service .row .service-card {
    width: 90%;
  }

  .service .row::after {
    content: "";
    position: absolute;
    background-image: url("../src/assets/image/morse-halakah-horizontal.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 25px;
    bottom: -30px;
  }

  .about .row .publisher-about .image img {
    width: 100%;
  }

  .book .row {
    justify-content: center;
  }

  .book .row .content-book {
    width: 85%;
  }

  .majmu .content .cover img {
    width: 70%;
  }

      .landing-offer .cover .d-flex .left {
    width: 75%;
  }

  .landing-offer .cover .d-flex .right {
    width: 80%;
  }

  .landing-offer .cover .d-flex .right .badge-text {
    font-size: 18px;
  }

  .landing-offer .synopsis {
    height: auto;
  }

      .landing-offer .synopsis .title {
    width: 70%;
    margin: 0 auto 20px auto;
  }

  .landing-offer .synopsis .kutip-line {
    width: 95%;
  }

  .landing-offer .synopsis .desc {
    width: 95%;
    font-size: 18px;
  }

  .landing-offer .detail-cover {
  padding: 80px 0 80px 0;
  height: auto;
}

    .landing-offer .detail-cover .content img {
  width: 100%;
}

.landing-offer .detail-cover .content .element1 {
  position: absolute;
  top: -220px;
  left: -150px;
  width: 120px;
}
.landing-offer .detail-cover .content .element2 {
  position: absolute;
  bottom: -195px;
  left: -150px;
  width: 170px;
}
.landing-offer .detail-cover .content .element3 {
  position: absolute;
  bottom: -250px;
  right: -160px;
  width: 130px;
}

.landing-offer .author .left .desc {
  font-size: 16px;
  color: #ffffff;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.landing-offer .prapesan .row .left {
  width: 90%;
  margin: 0;
}

.landing-offer .prapesan .row .left h4 {
  font-size: 22px;
  text-align: center;
}

.landing-offer .prapesan .row .left .title {
  width: 90%;
  margin: 0 auto;
}

.landing-offer .prapesan .row .left .d-flex .subtitle {
  font-size: 16px;
}

.landing-offer .prapesan .row .left .d-flex .date {
  font-size: 16px;
  text-align: center;
}

.landing-offer .prapesan .row .right {
  width: 90%;
}

.landing-offer .offer .row .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-offer .offer .row .right .cover-book {
  width: 100%;
  height: auto;
  margin: 0 0 10px auto;
}

.landing-offer .offer .row .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 200px;
  left: 260px;
  width: 160px;
}
}
@media screen and (max-width: 440px) {
  .landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 170px;
  left: 220px;
  width: 130px;
}
}
@media screen and (max-width: 380px) {
  .service .row .service-card {
    width: 95%;
  }

  footer .text-end {
    font-size: 11px;
  }

  .book .row .content-book {
    width: 95%;
  }

      .landing-offer .detail-cover .content img {
  width: 280px;
}

.landing-offer .detail-cover .content .element1 {
  position: absolute;
  top: -200px;
  left: -130px;
  width: 120px;
}
.landing-offer .detail-cover .content .element2 {
  position: absolute;
  bottom: -170px;
  left: -140px;
  width: 140px;
}
.landing-offer .detail-cover .content .element3 {
  position: absolute;
  bottom: -200px;
  right: -130px;
  width: 120px;
}

  .landing-offer .offer .row .left .harga {
  position: absolute;
  bottom: 150px;
  left: 180px;
  width: 100px;
}
}
